
body,header,div,input,nav,li,ul,a{
    margin:0;
    padding: 0;
    box-sizing:border-box;
}

a{
    text-decoration: none;
}

header>div,a{
    float: left;
    margin-top: 10px;
}

header:after{
    content: "";
    display: block;
    clear:both;
}

header .nbsp{
    height: 44px;
    width: 40px;
    margin-left: 20px;
    line-height: 45px;
}

header .middleIpt{
    line-height: 44px;
    margin-right: 20px;
    position: relative;
    background-color: #ccc;
    border-radius: 15px;
}

header input{
    height: 30px;

    border: none;

    outline:medium;
    



}

header i.sousuo{
    background-image: url(../img/1.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 15px;
    left: 3px;
    background-size: 20px;
}




header input:focus{
    text-indent: 30px;
}



header .choose{
    color: #000;
    width: 50px;
    line-height:44px;
    margin-right: 17px;
}

