* {
	margin: 0;
	padding: 0;
}

ul li {
	list-style: none;
}


.roll {
	
	width: 1200px;
	height: 220px;
	overflow: hidden;
	margin: 20px 0 0 50px;
}


.roll ul {
	overflow: hidden;
}


.roll li {
	width: 350px;
	height: 220px;
	float:left;
	margin-right: 10px;
}
